<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='output.css') }}"> 

    <title>Detection of covid-19<covid-19></covid-19></title>
  </head>
  <body>
    <div class="topnav-right">
      <a href="/">Home</a>
      <a class="active" href="/index">Test</a>
      <a href="/about">About</a>
    </div>
    <div id="heading">
      <h1>Result</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="drop-container">
       <h2>{{text}}</h2>
    </div>
</form>
  </body>
</html>
